*{
    box-sizing: border-box;
}




@font-face {
    font-family:"bitcheese";
    src: url(./font/Bitcheese.ttf);
    font-family: "asap";
    src: url(./font/Asap-Italic-VariableFont_wdth\,wght.ttf)
}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .conteiner{
        flex-direction: row;
        justify-content: space-between;

    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        
    }
    button{
        margin: 0;
    }

    


   

}
header{
    background-color: rgb(0, 0, 51);
    box-shadow: 6px;
}
.conteiner{
    max-width: 1300px;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
.logo{
    margin:0;
    padding: 25px 30px;
    font-family: "bitcheese";
    color: rgb(204, 51, 51);
    font-size: 30pt;

}

.portfolio{
    margin: 0px;
    padding: 25px 25px;

    font-family: "bitcheese";
    color:rgb(255, 255, 204);
    font-size: 30pt;
}

header nav{
    
    flex-direction: column;
    
}
header a{
    text-align: center;
    font-family: "asap";
    font-size: 16pt;
    padding: 30px 10px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    color: rgb(204, 51, 51);
}

body{
    margin: 0;
    max-width: 1980px;

    background-color: rgb(0, 0, 51);
}
.conteiner-columnas{
    display: flex;
    align-items: center;
    
}

.columna {
    
    flex-basis: 20%;
    
}


.columna img {
    width: 300px;
    height: auto;
    padding: 30px;
    margin-bottom: 20px;
    display: block;
    align-items: center;
}
h2{
    
    font-family: "bitcheese";
    color: rgb(204, 51, 51);
    font-size: 24pt;
    font-weight: bold;
    
}
h3{
    
    text-align: center;
    font-family: "asap";
    font-weight: bold;
    font-size: 24pt;
 
 
    color: rgb(245, 245, 245);

}





