@import url(https://fonts.google.com/specimen/Poppins?category=Sans+Serif);

$azulmarino: #000033;
$rojo: #CC3333;
$poppins: 'Poppins', sans-serif;

@font-face {
    font-family:"bitcheese";
    src: url(./font/Bitcheese.ttf);
}