@font-face {
    font-family: 'Asap' ;
    src: url(https://fonts.google.com/specimen/Asap);
    
}
@font-face {
    font-family: 'bitcheese';
    src: url(https://www.dafont.com/bitcheese.font);}



$roojo: #CC0000;
$crema: #F6EFDC;
$azuul: #1C1F44;